{% extends 'base.html' %}
{% block title %}  Login {% endblock %}
{% block content %}

<h2>Login</h2>
<br/>
<div class="form-group">
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary">Login</button>
    </form><br/>
    - OR - <br/>
    <a href="{% url 'social:begin' 'github' %}">Log in with GitHub</a>

    <br/><br/>
    <a href="{% url 'password_reset' %}">Reset password</a>
    <a href="{% url 'register' %}">Register</a>
</div>

{% endblock %}