{% extends 'base.html' %}

{% block content %}

<h2>Posts</h2>

<ul>
{% for post in posts %}
    <li><a href="{% url 'post_detail' post.pk%}">{{ post.title }}</a> -
        by {{ post.author.first_name }} -
        {{ post.created_on.date }} 
        {% if user.is_authenticated %}
        - <small><a href="{% url 'edit_post' post.pk%}">(Edit)</a>
                <a href="{% url 'delete_post' post.pk%}">(Delete)</a></small>
        {% endif %}
        <br/>
    {{ post.body|slice:":250" }}...</li>
{% endfor %}
</ul>

{% endblock %}